/*------------- all Articles -------------------*/

.allArticles-svg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "allArticles-svg-interrogationPoint allArticles-svg-monkey"
    "allArticles-svg-tree allArticles-svg-russia";
  width: 100vw;
  margin: 0;
  position: fixed;
  background-color: var(--background_color);
}

.allArticles-ContentPage {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98.5vw;
  background-color: rgba(255, 255, 255, 0);
}

.allArticles-Content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0);
  font-family: var(--secondary_font);
}

.allArticles-Content:last-child {
  margin-bottom: 5vh;
}

/*------------- svg -------------------*/

.allArticles-svg-interrogationPoint {
  grid-area: allArticles-svg-interrogationPoint;
  display: flex;
  justify-content: center;
}

.allArticles-svg-interrogationPoint img {
  height: 8vh;
  margin-top: 25vh;
  margin-right: 34%;
  opacity: 0.8;
}

.allArticles-svg-monkey {
  grid-area: allArticles-svg-monkey;
  display: flex;
  justify-content: flex-end;
}

.allArticles-svg-monkey img {
  height: 35vh;
  margin-top: 18%;
}

.allArticles-svg-tree {
  grid-area: allArticles-svg-tree;
  display: flex;
  justify-content: center;
  margin-right: 65%;
  margin-top: 15%;
}

.allArticles-svg-tree img {
  height: 25vh;
}

.allArticles-svg-russia {
  grid-area: allArticles-svg-russia;
}

.allArticles-svg-russia img {
  height: 45vh;
  margin-top: 4%;
  margin-left: 20%;
}

/*------------- Content -------------------*/

.allArticles-Content a {
  background-color: rgba(255, 255, 255, 0.6);
}

.allArticles-Article {
  display: flex;
  min-width: 60vw;
  height: 20vh;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.allArticles-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.allArticles-title h2 {
  font-weight: 400;
}

.allArticles-title p {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: var(--primary_font);
}

.allArticles-Article img {
  height: 100%;
  width: auto;
  border-radius: 4px 0 0 4px;
}

.allArticles-Article:hover {
  cursor: pointer;
}

.allArticles-title:hover > :not(:hover) {
  opacity: 0.5;
}

/*------------- Media queries -------------------*/

@media screen and (max-width: 950px) {
  .allArticles-svg {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0;
  }

  .allArticles-Content {
    margin-top: 5vh;
  }

  .allArticles-ContentPage {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
  }

  .allArticles-Article {
    min-width: 100vw;
  }

  .allArticles-Article img {
    border-radius: 0;
  }

  .allArticles-Article {
    height: 17vh;
  }

  .allArticles-title h2 {
    font-size: 1.2em;
  }

  .allArticles-title p {
    font-size: 0.75em;
    text-align: center;
  }

  .allArticles-svg-interrogationPoint img {
    margin-right: 54%;
  }

  .allArticles-svg-monkey img {
    margin-right: -45%;
  }

  .allArticles-svg-russia {
    display: none;
  }
}
