/*------------- Main Page -------------------*/

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "home-gear home-logo home-monkeyIntPoint"
    "home-interrogationPoint home-text home-nothing"
    "home-tree home-button home-russia";
  max-height: 100vh;
  background-color: var(--background_color);
}

/*------------- Gear -------------------*/

.home-gear {
  grid-area: home-gear;
  display: flex;
}

.home-gear img {
  height: 26vh;
  width: auto;
  margin-top: 5%;
  margin-left: 5%;
  transform: rotate(-65deg);
}

/*------------- Logo -------------------*/

.home-logo {
  grid-area: home-logo;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.home-logo img {
  height: 38vh;
  width: auto;
  max-width: 95%;
  border-radius: 25px;
  border: solid 10px var(--secondary_color);
  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.2);
}

/*------------- Monkey -------------------*/

.home-monkeyIntPoint {
  grid-area: home-monkeyIntPoint;
  display: flex;
  align-items: center;
}

.home-monkeyIntPoint img {
  height: 30vh;
  width: auto;
  margin-top: 20%;
  margin-left: -8%;
}

/*------------- Interrogation point -------------------*/

.home-interrogationPoint {
  grid-area: home-interrogationPoint;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-interrogationPoint img {
  height: 7vh;
  margin-right: -25%;
  margin-top: -20vh;
}

/*------------- Text -------------------*/

.home-text {
  grid-area: home-text;
  font-family: var(--primary_font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text h1 {
  font-weight: 400;
  margin-bottom: 7%;
}

.home-text p {
  margin-bottom: 4%;
}

/*------------- Nothing -------------------*/

.home-nothing {
  grid-area: home-nothing;
}

/*------------- Tree -------------------*/

.home-tree {
  grid-area: home-tree;
}

.home-tree img {
  height: 20vh;
  margin-top: -5vh;
  margin-left: 17%;
}

/*------------- Button -------------------*/

.home-button {
  grid-area: home-button;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------- Russia -------------------*/

.home-russia {
  grid-area: home-russia;
}

.home-russia img {
  height: 45vh;
  margin-top: -25vh;
  margin-left: 5%;
}

/*------------- Media queries -------------------*/

@media screen and (max-width: 1100px) {
  .home-gear,
  .home-interrogationPoint,
  .home-nothing,
  .home-russia,
  .home-tree {
    display: none;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@media screen and (max-width: 950px) {
  .home-logo img {
    border-radius: 0;
  }

  .home-monkeyIntPoint {
    margin-top: 62vh;
  }

  .home-monkeyIntPoint img {
    margin-right: -25vw;
  }

  .home-logo {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
  }

  .home-text {
    position: absolute;
    top: 42vh;
    background-color: transparent;
    padding: 1%;
  }

  .home-text p {
    background-color: transparent;
  }

  .home-button {
    position: absolute;
    bottom: 3vh;
  }

  .home-text p {
    font-size: 0.9em;
  }
}
