.header {
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  margin: 1% 0.5%;
  border-radius: 10px;
  padding: 1% 0;
}

.header img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.header h1 {
  width: calc(80% - 20px);
  margin-left: 12%;
  color: var(--text_color);
  background-color: var(--primary_color);
  font-size: 2.7em;
}

.header a {
  background-color: transparent;
  height: auto;
  width: 7%;
  border-radius: 10px;
  margin-left: 5%;
}

/* ------------- Media Query ---------------*/

@media screen and (max-width: 950px) {
  .header {
    margin: 0;
    border-radius: 0;
  }

  .header img {
    border-radius: 0;
  }

  .header a {
    height: auto;
    width: 17%;
    border-radius: 0;
  }

  .header h1 {
    margin-left: 15%;
    font-size: 2.4em;
  }
}
