.header {
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  margin: 1% 0.5%;
  border-radius: 10px;
  padding: 1% 0;
  font-family: var(--secondary_font);
}

.header img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.header h1 {
  width: calc(65% - 20px);
  margin-left: 12%;
  color: var(--text_color);
  background-color: var(--primary_color);
  font-size: 2.7em;
}

.header a {
  background-color: transparent;
  height: auto;
}

.header a:first-child {
  border-radius: 10px;
  margin-left: 5%;
  width: 5%;
}

.header-button {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
}

.header-button button {
  border: none;
  border-radius: 10px;
  font-size: 2em;
  padding: 5% 15%;
  color: var(--secondary_color);
  transition: 0.3s;
}

.header-button button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-button p {
  background-color: transparent;
  font-weight: 700;
}

/* ------------- Media Query ---------------*/

@media screen and (max-width: 950px) {
  .header {
    margin: 0;
    border-radius: 0;
  }

  .header img {
    border-radius: 0;
  }

  .header a:first-child {
    height: auto;
    width: 30%;
    border-radius: 0;
  }

  .header a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    margin-left: 10%;
    font-size: 2.4em;
    width: 55%;
  }

  .header-button {
    width: 100%;
  }

  .header-button button {
    font-size: 1.5em;
  }

  .header-button p {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }
}
