@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Signika:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary_color: #344d59;
  --secondary_color: #85054e;
  --background_color: #fcfcfc;
  --text_color: #b8cbd0;
  --primary_font: "Fredericka the Great", cursive;
  --secondary_font: "Signika", sans-serif;
}

.on {
  font-size: 0.9em;
  color: red;
  font-weight: 500;
}

.off {
  display: none;
}
